.App {
  text-align: center;
}

.title-font {
  font-family: "Lucida Console", Courier, monospace;
  color: ivory;
}

div.scroll {
  width: 500px;
  height: 420px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  padding: 10px;
  white-space: nowrap;
}

.len {
  width: 600px
}

.long {
  height: 420px;
}